<div id="mainContent">
    <div id="left">
        <div id="reqContainer">
            <div id="accordion"></div>
        </div>

        <div id="ll">
            <div id="llContent">
                

                <p id="major"></p>
                <p id="minor"></p>
				<p id="hours"></p>
                <p id="catalogYear"></p>
            </div>
        </div>
    </div>
    <div id="ur">
    </div>
    <div id="lr">
        <table id="catalog">
            <thead>
            <tr>
                <th>Course ID</th>
                <th>Title</th>
                <th>Description</th>
                <th>Credits</th>
            </tr>
            </thead>
        </table>

        <span id='hiddenWidth'></span>
    </div>
</div>
