   <nav>
      <span id="cedarTitle">CEDAR</span><span id="apeTitle">APE</span><%= image_tag "cedarape.png" , id: 'cedarLogo' %> 
      <% if user_signed_in?%>
         <span id="controls">
            <span class="hiddenInMobile" id="studentName"></span>
            <select id="plans" name="plans" class="button hiddenInMobile" type="button" value="Options &#x25BC;" onchange="getPageInfo(value);"></select>
               <input type="button" value="Log Out" class="button" onclick="logout()">
         </span>
      <% end %>
   </nav>
