   <nav>
      <span id="cedarTitle">CEDAR</span><span id="apeTitle">APE</span><%= image_tag "cedarape.png" , id: 'cedarLogo' %> 
      <span id="controls">
         <span class="hiddenInMobile" id="studentName"></span>
         <select id="plans" name="plans" class="button hiddenInMobile" type="button" value="Options &#x25BC;" onchange="getPageInfo(value);"></select>
         <a href=""><input type="button" value="Log Out" class="button"></a>
      </span>
   </nav>
